/* Styles globaux */
body {
    margin: 0;
    padding: 0;s
    font-family: 'Oswald', sans-serif;
    background-color: #FFF2F9;
    color: white;
}

h1, h2 {
    font-family: 'Black Ops One', sans-serif;
   color: #D01257;
   margin: 0;
   text-transform: uppercase;
   
}
h1{
    font-size: 15vw;
}
h2{
    font-size: 6vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 3vw;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    border: none;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFCEE4;
}

header nav a {
    margin-left: 20px;
    color: #FA4EAB;
    text-decoration: none;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
}

/* Section Hero */
.hero {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
}

.hero .tagline {
    font-family: 'Vujahday Script', cursive;
    font-style: italic;
    color: #FE83C6;
    margin-bottom: 10px;
    font-size: 150px;
    
}

.hero .apropos {
    font-family: 'Arsenal', sans-serif;
    color: #FE83C6;
    margin-bottom: 10px;
    font-size: 150px;
    
}

.hero h1 {
    font-family: 'Black Ops One', sans-serif;
    font-size: 15vw;
    font-weight:normal;
    color: #323232;
    margin: 0;
    text-align: center;
    
}
@font-face {
    font-family: 'Black Ops One';
    src: url('fonts/BlackOpsOne.ttf') format('truetype'); /*dans le dossier fonts*/
}

.cta-button {
    background-color: #FA4EAB;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 80px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 8px;
}

.cta-button:hover {
    background-color: #FE83C6;
}

.hero h2 {
    color: #323232; 
}

.profile-photo {
    display: block; /* Centre l'image en ajoutant des marges */
    margin: 20px auto;
    width: 1000px; /* Ajuste la taille maximale */
    height: 1500px;
    border-radius: 20px; /* Rend l'image ronde*/
    object-fit: cover;
    filter: grayscale(100%); /* Noir et blanc */
    transition: filter 0.3s ease; /* Animation pour l'effet au survol */
    
}

.profile-photo:hover {
    filter: grayscale(0%) brightness(0.9) sepia(0.4) hue-rotate(330deg); /* L'image redevient en couleur au survol */
}

/* Section Carrousel */
.carousel {
    margin: 50px 20px;
    text-align: center;
}

.carousel h2 {
    color: #323232;
    margin-bottom: 20px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel-item {
    background-color: #FA4EAB;
    color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 200px;
    text-align: center;
    flex-shrink: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
}

.carousel-item:hover {
    background-color: #FB90B7;
}

/* Formulaire de contact */
.contact-form .tagline {
    font-family: 'Vujahday Script', cursive;
    font-style: italic;
    color: #FE83C6;
    margin-bottom: 10px;
    font-size: 150px;
    
}

.contact-form {
    margin: 50px 20px;
    text-align: center;
    font-size: 60px;
    color: #FA4EAB;
    font-family: 'Oswald', sans-serif;
}

.contact-form h2 {
    color: #323232;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #FB90B7;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    background-color: #FA4EAB;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
    font-size: 80px;
}

form button:hover {
    background-color: #FB90B7;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: white;
}
